/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 6.4rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

/* Helper Classes */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  font-family: 'Roboto', sans-serif;
  height: 2.2rem;
  font-size: 24px;
  color: #f9faf8;
}

/* Navigation */
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #e5e7eb;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #fff;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #3882f6;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #2f70d5;
}

/* Headings */
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-primary {
  color: #f9faf8;
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  color: #1f2937;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

/* Hero Section */
.section-hero {
  background-color: #1f2937;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

/* Buttons */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
}

.btn--full:link,
.btn--full:visited {
  background-color: #3882f6;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #1f2937;
  box-shadow: inset 0 0 0 3px #fff;
}

/* Features Section */
.section-features {
  padding: 9.6rem 0;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-image {
  width: 20rem;
  border-radius: 5%;
  margin-bottom: 1.2rem;
  border: 3px solid #3882f6;
}

.feature-content {
  width: 20rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.feature-title {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

/* Testimonial Section */
.section-testimonial {
  padding: 9.6rem 0;
  background-color: #e5e7eb;
}

.testimonial {
  margin: auto;
  width: 62rem;
}

.testimonial-text {
  font-size: 2.8rem;
  line-height: 1.4;
  margin-bottom: 1.6rem;
  color: #1f2937;
  font-style: italic;
  text-align: left;
}

.testimonial-name {
  font-size: 1.8rem;
  color: #1f2937;
  text-align: right;
}

/* CTA Section */
.section-cta {
  padding: 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: #3882f6;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.015);
  border-radius: 11px;
}

.cta-text-box {
  padding: 4.8rem 6.4rem;
}

.cta .heading-secondary {
  color: #f9faf8;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #f9faf8;
}

.btn--cta {
  background-color: #3882f6;
  color: #f9faf8;
  box-shadow: inset 0 0 0 3px #fff;
  transition: all 0.3s;
  align-self: center;
  padding: 1.2rem;
  margin: auto 6rem;
}

.btn--cta:hover {
  background-color: #f9faf8;
  color: #3882f6;
}

/* Footer */
.footer {
  padding: 2.4rem 0;
  background-color: #1f2937;
}

.footer p {
  color: #f9faf8;
  text-align: center;
  font-size: 1.4rem;
}
